@import "_mixins.scss";
@import "../login/login";

.header {
  display: flex;
  &-name {
    @include logo();
    padding-top: 15px;
    margin: 0;
    padding-left: 50px;
    flex-grow: 1;
    a {
      text-decoration: none;
    }
  }

  .dots:after {
    content: "\2807";
    font-size: 25px;
    font-weight: 700;
  }
  .dots {
    padding-top: 5px;
    margin-left: 50px;
  }
  .lines:after {
    content: "\2261";
    font-size: 25px;
    font-weight: 700;
  }
  .lines {
    padding-top: 5px;
    padding-left: 10px;
  }
}
