@import "header.scss";
@import "_mixins.scss";

body {
}

.main__screenshot {
  display: flex;
  &-photo-container {
    display: block;
    background: url("./img/piskel-clone-screenshot.png") no-repeat;
    background-size: contain;
    height: 400px;
  }
}

.main__functionality {
  display: flex;
  flex-wrap: wrap;
  &:last-child {
    font-size: large;
  }
  &-item {
    display: flex;
    // flex-wrap: wrap;
    height: 150px;
    width: 50%;
    &--img {
      display: block;
      background: url("./img/feature-live-preview.gif") no-repeat;

      width: 100%;
      height: 150px;
      order: 2;

      float: right;
    }
    &--info {
    }
  }
}
