.main {
  &__frames {
    .main__frames--scroller {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      .preview-list {
        margin: 0;
        padding: 0;
      }
      .preview-tile.selected {
        border-color: gold;
      }
      .preview-tile {
        list-style: none;
        position: relative;
        border: #444 3px solid;
        border-radius: 3px;
        padding: 3px 0;
        width: 135px;
        height: 140px;

        .tile-overlay {
          z-index: 10;
          position: absolute;
          background-color: rgba(100, 100, 100, 0.6);
          opacity: 0;
          height: 30px;
          width: 30px;
          border: none;
          button {
            text-rendering: auto;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: center;
            align-items: flex-start;
            cursor: default;
            box-sizing: border-box;
            margin: 0em;
            font: 400 13.3333px Arial;
            padding: 1px 6px;
          }
        }
        .delete-frame {
          top: 0;
          right: 0;
          border-bottom-left-radius: 3px;
          cursor: pointer;
          &-icon {
            background-image: url("./img/remove-frame-icon.svg");
            background-repeat: no-repeat;
          }
        }

        .dnd-frame {
          bottom: 0;
          left: 0;
          border-top-right-radius: 3px;
          cursor: move;
          &-icon {
            background-image: url("./img/dnd-frame-icon.svg");
            background-repeat: no-repeat;
          }
        }

        .tile-count {
          display: block;
          opacity: 1;
          border-bottom-right-radius: 3px;
          top: 0;
          left: 0;
          font-size: 14px;
          line-height: 30px;
          font-weight: bold;
          text-align: center;
          color: white;
          cursor: default;
          &.toggled {
            background-color: gold;
            color: black;
          }
        }

        .duplicate-frame {
          bottom: 0;
          right: 0;
          border-top-left-radius: 3px;
          cursor: pointer;
          &-icon {
            background-image: url("./img/duplicate-frame-icon.svg");
            background-repeat: no-repeat;
          }
        }

        &:hover {
          .tile-overlay {
            opacity: 1;
          }
        }

        .canvas-container {
          position: relative;
          display: block;
          margin: 0;

          canvas {
            width: 128px;
            height: 128px;
          }
          #preview-canvas {
            position: relative;
            z-index: 1;
          }
          .canvas-background {
            background: url(./img/canvasbg.png);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
      .add__frame__btn {
        display: flex;
        align-items: center;
        margin-top: 8px;
        padding: 6px 0;
        overflow: hidden;
        width: 96px;
        border: #888 solid 3px;
        border-radius: 4px;
        color: #888;
        background-color: transparent;
        font-size: 13px;
        cursor: pointer;
        .label {
          font-size: 15px;
        }
        &:hover {
          border-color: gold;
        }
      }
    }
  }
}
