@import "normalize.scss";
@mixin logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
@mixin instrument {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}

body {
  user-select: none;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  &-name {
    @include logo();
    padding-top: 5px;
    margin: 0;
    padding-left: 50px;
    flex-grow: 1;
  }
  .login-text {
    display: block;
    font-family: "FuturaBookC";
    font-size: 22px;
    font-weight: 500;
    color: red;
    margin: 0 20px;
    padding-top: 8px;
  }
  .profile-pic {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .login-link {
    a {
      display: block;
      font-family: "FuturaBookC";
      font-size: 20px;
      border: 2px solid #007a70;
      border-radius: 4px;
      background-color: #00ad9f;
      color: white;
      width: 100%;
      padding: 6px 8px;
      margin-right: 15px;
      text-align: center;
      text-decoration: none;
    }
  }
  .dots:after {
    content: "\2807";
    font-size: 25px;
    font-weight: 700;
  }
  .dots {
    padding-top: 5px;
    margin-left: 50px;
  }
  .lines:after {
    content: "\2261";
    font-size: 25px;
    font-weight: 700;
  }
  .lines {
    padding-top: 5px;
    padding-left: 10px;
  }
}
.main {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  &__instruments__container {
    display: flex;
    flex-direction: column;
    &-block1,
    &-block2 {
      position: relative;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24),
        0px 0px 4px rgba(0, 0, 0, 0.12);
      &__list {
        width: 228px;
        height: 246px;
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 50px;
        list-style: none;
        input[type="color"] {
          display: none;
        }
        .list-item {
          text-align: left;

          @include instrument();
          &:first-child {
            list-style-image: url(../img/paint-bucket.svg);
          }
          &:nth-child(2) {
            list-style-image: url(../img/choose-color.svg);
          }
          &:nth-child(3) {
            list-style-image: url(../img/pencil.svg);
          }
          &:nth-child(4) {
            list-style-image: url(../img/eraser.svg);
          }
          &:nth-child(5) {
            list-style-image: url(../img/stroke.svg);
          }
          &:last-child {
            list-style-image: url(../img/same-color-icon.svg);
          }
        }
        .list-item.active {
          background: rgba(138, 127, 127, 0.508);
        }
      }
      .color-menu {
        position: absolute;
        height: 1px;
        left: 0%;
        right: 0%;
        top: 111px;
        background: rgba(0, 0, 0, 0.12);
      }
    }
    .blue-btn,
    .red-btn,
    .current-btn,
    .prev-btn {
      cursor: pointer;
      outline: none;
      border: none;
      width: 100%;
      text-align: start;
      background: none;
      &:hover {
        background: rgba(138, 127, 127, 0.308);
      }
    }
    .bucket-btn,
    .choose-color-btn,
    .pencil-btn,
    .eraser-btn,
    .stroke-btn,
    .same-color-fill-btn {
      cursor: pointer;
      outline: none;
      border: none;
      width: 100%;
      padding: 5px 5px 10px 5px;
      text-align: start;
      background: none;
      &:hover {
        background: rgba(138, 127, 127, 0.308);
      }
    }
    &-block3 {
      margin: 40px 0;
      @include instrument();

      .pen__size__container {
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
      }
    }
    &-block2 {
      span {
        border-radius: 50%;
        width: 23px;
        height: 23px;
        background-color: red;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
      label {
        cursor: pointer;
      }
      .blue {
        background-color: blue;
      }
      .active {
        background: rgba(138, 127, 127, 0.508);
      }
      &__list {
        .list-item {
          @include instrument();
          &:first-child {
            list-style-image: none;
          }
        }
        padding-left: 20px;
      }
    }
  }
  &__frames {
    .main__frames--scroller {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      .preview-list {
        margin: 0;
        padding: 0;
      }
      .preview-tile.selected {
        border-color: gold;
      }
      .preview-tile {
        list-style: none;
        position: relative;
        border: #444 3px solid;
        border-radius: 3px;
        padding: 3px 0;
        width: 135px;
        height: 140px;

        .tile-overlay {
          z-index: 10;
          position: absolute;
          background-color: rgba(100, 100, 100, 0.6);
          opacity: 0;
          height: 30px;
          width: 30px;
          border: none;
          button {
            text-rendering: auto;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: center;
            align-items: flex-start;
            cursor: default;
            box-sizing: border-box;
            margin: 0em;
            font: 400 13.3333px Arial;
            padding: 1px 6px;
          }
        }
        .delete-frame {
          top: 0;
          right: 0;
          border-bottom-left-radius: 3px;
          cursor: pointer;
          &-icon {
            background-image: url("../img/remove-frame-icon.svg");
            background-repeat: no-repeat;
          }
        }

        .dnd-frame {
          bottom: 0;
          left: 0;
          border-top-right-radius: 3px;
          cursor: move;
          &-icon {
            background-image: url("../img/dnd-frame-icon.svg");
            background-repeat: no-repeat;
          }
        }

        .duplicate-frame {
          bottom: 0;
          right: 0;
          border-top-left-radius: 3px;
          cursor: pointer;
          &-icon {
            background-image: url("../img/duplicate-frame-icon.svg");
            background-repeat: no-repeat;
          }
        }

        &:hover {
          .tile-overlay {
            opacity: 1;
          }
        }

        .canvas-container {
          position: relative;
          display: block;
          margin: 0;

          canvas {
            width: 128px;
            height: 128px;
          }
          #preview-canvas {
            position: relative;
            z-index: 1;
          }
          .canvas-background {
            background: url(../img/canvasbg.png);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
      .add__frame__btn {
        display: flex;
        align-items: center;
        margin-top: 8px;
        padding: 6px 0;
        overflow: hidden;
        width: 96px;
        border: #888 solid 3px;
        border-radius: 4px;
        color: #888;
        background-color: transparent;
        font-size: 13px;
        cursor: pointer;
        .label {
          font-size: 15px;
        }
        &:hover {
          border-color: gold;
        }
      }
    }
  }
  &__canvas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .input__container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    input {
      width: 300px;
      height: 30px;
      font-family: "FuturaBookC";
      font-size: 25px;
    }
    canvas {
      border: 1px solid black;
      align-self: center;
      width: 512px;
      height: 512px;
      background-color: #ffffff;
      background-image: url(../img/canvasbg.png);
      image-rendering: pixelated;
    }
  }
  &__switcher {
    display: flex;
    justify-content: space-between;
    button {
      font-size: large;
      cursor: pointer;
      margin-top: 15px;
      width: 100px;
      padding: 10px 10px;
      background: transparent;
      outline: none;
      border: 1px solid black;
    }
    .active {
      background: red;
    }
    button:hover {
      background: red;
    }
  }

  &__preview {
    &-frame-container {
      height: 200px;
      width: 200px;
      position: relative;
      border: 1px solid black;
      .canvas-background {
        background: url(../img/canvasbg.png);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .background-image-frame-container {
        width: 100%;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        &:fullscreen {
          // background-color: red;

          background-size: 512px 512px;

          overflow: hidden;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
    align-items: flex-start;
    &__instruments__container {
      //   width: 100%;
      // text-align: center;
      height: 300px;
      flex-direction: row;
      justify-content: space-evenly;
      &-block1,
      &-block2 {
        box-shadow: none;
        // margin-bottom: 30px;
      }
      .pen__size__container {
        flex-direction: column;
      }
    }
    &__frames {
      position: relative;
      .main__frames--scroller {
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
        ul {
          display: flex;
        }
      }
    }
    &__canvas {
      align-self: center;
    }
    &__switcher {
      margin-top: 70px;
      margin-bottom: 20px;
      flex-direction: row;
      align-self: center;
    }
  }
}
